.container{
    background-color: rgb(68, 102, 175);
    width: 400px;
    /* height: 240px; */
    margin: 20px;
    border: 3px solid red;
    
}

.main {
    /* width: 400px; */
    /* height: 140px; */
    background-color: rgb(255, 147, 85);
    border: 2px solid red;
    margin: 10px;
    padding: 10px;
}

.block {
    border: 1px solid red;
    background-color: rgb(227, 242, 245);
    text-align: center;
}
